<div class="row d-flex justify-content-between rounded">
  <div class="col-12 col-md-6 d-flex justify-content-start align-items-center mb-3">
    <button pButton type="button" icon="pi pi-home" class="ms-3 p-button-outlined" [routerLink]="['/']"></button>
    <h5 class="m-0 ps-3">{{ title }}</h5>
  </div>

  <form class="col-12 col-md-6 d-flex justify-content-end mb-3" [formGroup]="searchForm" (submit)="submitForm()">
    <p-calendar formControlName="date" [maxDate]="maxDate"></p-calendar>
    <button pButton type="submit" icon="pi pi-search" class="ms-3"></button>
    <!--      {{searchForm.value | json}}-->
  </form>
</div>
