<p-dialog [visible]="true" [modal]="true"
          [style]="{ width: '400px' }" [closable]="false"
          [draggable]="false" [resizable]="false">
  <div class="body mb-4">
    <div class="d-flex justify-content-center content">
      <div class="planet">
        <div class="spots">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <p>CARGANDO</p>
    </div>
  </div>
</p-dialog>
