<p-toast></p-toast>

<div *ngIf="nasaResponse" class="container">
  <div class="content text-center">
    <h1 class="display-4">{{nasaResponse?.title}}</h1>
    <p>{{title}}</p>
    <div class="d-flex justify-content-center">
      <p-image *ngIf="nasaResponse?.media_type === 'image'"
               src="{{nasaResponse?.hdurl}}" alt="Image" width="100%" [preview]="true"></p-image>
      <video *ngIf="nasaResponse?.media_type === 'video'"
             autoplay="true" name="media">
        <source src="{{nasaResponse?.url}}" type="video/mp4">
      </video>
    </div>
    <p class="description mt-3">{{nasaResponse?.explanation}}</p>
    <p class="description mt-3" style="font-style: italic;
      color: #bebebe">Copyright: {{nasaResponse?.copyright || 'Not found'}}</p>
  </div>
</div>
