<div *ngIf="dataSocialNetworks.length > 0"
     class="fixed-bottom bg-dark d-flex justify-content-between p-2">
  <div class="d-flex networks">
    <a *ngFor="let socialNetwork of dataSocialNetworks"
       href="{{socialNetwork.url}}" target="_blank">
      <i class="pi {{socialNetwork.icon}} me-3 my-1 networks"
         style="font-size: 1.2rem"
         pTooltip="{{socialNetwork.name}}"></i>
    </a>
  </div>
  <div class="d-flex author">
    <p class="text-end m-0">
      <i class="pi pi-code m-1"></i>
      Angel Lucero | 2023</p>
  </div>
</div>
